<h2 mat-dialog-title>Unesite novi podatak</h2>

<mat-dialog-content>
  <mat-form-field>
    <mat-label>Naziv tretmana</mat-label>
    <input matInput [(ngModel)]="data.name">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Cijena tretmana</mat-label>
    <input matInput [(ngModel)]="data.price">
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Ok</button>
</mat-dialog-actions>
