<h2 mat-dialog-title>Unesite novi podatak</h2>

<mat-dialog-content>
  <mat-form-field>
    <mat-label>Naziv tretmana</mat-label>
    <input matInput [(ngModel)]="data.name" required>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Cijena tretmana</mat-label>
    <input type="number" matInput [(ngModel)]="data.price" required>
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions class="custom-dialog-actions">
  <button mat-button class="cancelButton" (click)="onNoClick()">Odustani</button>
  <!-- Disable the save button if data.name or data.price is not filled -->
  <button mat-button class="saveButton" [mat-dialog-close]="data" cdkFocusInitial 
          [disabled]="!data.name || !data.price">Spremi</button>
</mat-dialog-actions>
