<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="side" opened="true" class="sidenav" *ngIf="!isLoginRoute()">
    <div class="sidenav-content">
      <app-navigation></app-navigation>
      <button class="logoutButton" mat-button (click)="logout()" [attr.disabled]="isButtonDisabled ? true : null">Odjava</button>
    </div>
  </mat-sidenav>
  
  <mat-sidenav-content>
    <!-- The content of your page goes here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
